In [30]:
import pandas as pd
import numpy as np
import numpy_financial as npf
import csv

In [31]:
from pathlib import Path

In [32]:
Path.cwd()

WindowsPath('C:/Users/jayri/GitHub/python-homework/PyBank')

In [33]:
PnL = pd.read_csv('C:/Users/jayri/GitHub/python-homework/PyBank/week_2_homework_PyBank_Resources_budget_data-Copy1.csv')
print (PnL)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [34]:
print(PnL.columns)

Index(['Date', 'Profit/Losses'], dtype='object')

In [35]:
print(PnL['Date'])

0     Jan-2010
1     Feb-2010
2     Mar-2010
3     Apr-2010
4     May-2010
        ...
81    Oct-2016
82    Nov-2016
83    Dec-2016
84    Jan-2017
85    Feb-2017
Name: Date, Length: 86, dtype: object

In [36]:
total_months = len(PnL['Date'])
print (total_months)

86

In [37]:
net_total = sum(PnL['Profit/Losses'])
print (net_total)

38382578

In [38]:
average_changes = net_total / total_months
print (average_changes)

446309.0465116279

In [39]:
greatest_increase = max(PnL["Profit/Losses"])
print (greatest_increase)

1170593

In [40]:
type(PnL['Profit/Losses'])

pandas.core.series.Series

In [41]:
PnL_Monthly_List = PnL.columns[1]
print (PnL_Monthly_List)

Profit/Losses

In [42]:
PnL_Monthly_List = PnL['Profit/Losses']
print (PnL_Monthly_List)

0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Name: Profit/Losses, Length: 86, dtype: int64

In [43]:
PnL_Date_List = PnL['Date']

In [58]:
list (np.diff (PnL_Monthly_List))

[116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

In [61]:
superman = list ([np.diff (PnL_Monthly_List)])

In [62]:
for numbers in superman:
    megaman = sum (numbers)

In [63]:
ironman = megaman / (total_months -1)

In [64]:
aquaman = round (ironman,2)
aquaman

-2315.12

In [65]:
np.diff (PnL['Profit/Losses'])

array([  116771,  -662642,  -391430,   379920,   212354,   510239,
        -428211,  -821271,   693918,   416278,  -974163,   860159,
       -1115009,  1033048,    95318,  -308093,    99052,  -521393,
         605450,   231727,   -65187,  -702716,   177975, -1065544,
        1926159,  -917805,   898730,  -334262,  -246499,   -64055,
       -1529236,  1497596,   304914,  -635801,   398319,  -183161,
         -37864,  -253689,   403655,    94168,   306877,   -83000,
         210462, -2196167,  1465222,  -956983,  1838447,  -468003,
         -64602,   206242,  -242155,  -449079,   315198,   241099,
         111540,   365942,  -219310,  -368665,   409837,   151210,
        -110244,  -341938, -1212159,   683246,   -70825,   335594,
         417334,  -272194,  -236462,   657432,  -211262,  -128237,
       -1750387,   925441,   932089,  -311434,   267252, -1876758,
        1733696,   198551,  -665765,   693229,  -734926,    77242,
         532869], dtype=int64)

In [66]:
peach = list(np.diff (PnL['Profit/Losses']))

In [67]:
peach.insert(0,0)

In [68]:
sonic2 = pd.DataFrame ()

In [69]:
sonic2['Date'] = (PnL['Date'])

In [70]:
sonic2['Profit/Losses'] = peach

In [71]:
sonic2

        Date  Profit/Losses
0   Jan-2010              0
1   Feb-2010         116771
2   Mar-2010        -662642
3   Apr-2010        -391430
4   May-2010         379920
..       ...            ...
81  Oct-2016        -665765
82  Nov-2016         693229
83  Dec-2016        -734926
84  Jan-2017          77242
85  Feb-2017         532869

[86 rows x 2 columns]

In [74]:
greatest_profits = sonic2.loc[sonic2['Profit/Losses']==sonic2['Profit/Losses'].max()]
greatest_profits

        Date  Profit/Losses
25  Feb-2012        1926159

In [75]:
greatest_loss = sonic2.loc[sonic2['Profit/Losses']==sonic2['Profit/Losses'].min()]
greatest_loss

        Date  Profit/Losses
44  Sep-2013       -2196167

In [90]:
#answers to the questions
print (f"The total number of months included in the dataset is {total_months}")
print (f"The net total amount of Profit/Losses over the entire period is {net_total}")
print (f"The average of the changes in Profit/Losses over the entire period is {aquaman}")
print (f"The Greatest Increase in Profits is {greatest_profits}")
print (f"The Greatest Decrease in Profits is {greatest_loss}")

The total number of months included in the dataset is 86
The net total amount of Profit/Losses over the entire period is 38382578
The average of the changes in Profit/Losses over the entire period is -2315.12
The Greatest Increase in Profits is         Date  Profit/Losses
25  Feb-2012        1926159
The Greatest Decrease in Profits is         Date  Profit/Losses
44  Sep-2013       -2196167

In [ ]:
#second solution using loops

In [ ]:
header = next('C:/Users/jayri/GitHub/python-homework/PyBank/datacheck.txt')

In [ ]:
file_to_load = Path('C:/Users/jayri/GitHub/python-homework/PyBank/datacheck.txt')

In [ ]:
file_to_load

In [ ]:
total_net = 0
net_change_list = []
total_months = 0
month_of_change = []
greatest_increase = ["",0]
file_to_output = Path("C:/Users/jayri/GitHub/python-homework/PyBank/output.txt")

with open(file_to_load) as PnL:
    PnL = csv.reader(PnL)
    header = next(PnL)
    first_row = next(PnL)
    total_months = total_months + 1
    total_net = total_net + int(first_row[1])
    previous_net = int(first_row[1])
    for row in PnL:
        net_change = int(row[1])-(previous_net)
        total_months = total_months + 1
        previous_net = int(row[1])
        net_change_list = net_change_list + [net_change]
        month_of_change = month_of_change + [row[0]]
        
        if net_change > greatest_increase[1]:
            greatest_increase[0] = row[0]
            greatest_increase[1] = net_change
            
        
average_net_change = round(sum(net_change_list)/len(net_change_list),2)

with open(file_to_output, "w") as txt_file:
    txt_file.write(f"Greatest Increase in Profits: {greatest_increase[0]} (${greatest_increase[1]})\n")
    txt_file.write(f"Total Months: {total_months}\n")

In [ ]:
average_net_change

In [ ]:
pd.read_csv("C:/Users/jayri/GitHub/python-homework/PyBank/output.txt")