In [1]:
import pandas as pd
from pathlib import Path

In [2]:
Path.cwd ()

WindowsPath('C:/Users/jayri/GitHub/python-homework/PyRamen')

In [3]:
sales = pd.read_csv('C:/Users/jayri/GitHub/python-homework/PyRamen/week_2_homework_PyRamen_Resources_sales_data.csv')

In [4]:
menu = pd.read_csv('C:/Users/jayri/GitHub/python-homework/PyRamen/week_2_homework_PyRamen_Resources_menu_data.csv')

In [5]:
sales.head(10)

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen
5,6,01-01-2017,4787310681569648,1,truffle butter ramen
6,7,01-01-2017,8252818705821725,1,tonkotsu ramen
7,8,01-01-2017,8252818705821725,1,tonkotsu ramen
8,9,01-01-2017,3119034881407323,1,vegetarian spicy miso
9,10,01-01-2017,3119034881407323,1,vegetarian spicy miso

In [6]:
ramen_list = list(sales['Menu_Item'].unique())

In [7]:
report = {}
ramen_list = sales['Menu_Item'].unique()

for ramen in ramen_list:
    print(ramen)
    specific_ramen_dict = {}
    
    qty_sold = sales.loc[sales['Menu_Item']==ramen, 'Quantity'].sum()
    specific_ramen_dict['01-count'] = sales.loc[sales['Menu_Item']==ramen, 'Quantity'].sum()
    specific_ramen_dict['02-revenue'] = sales
    specific_ramen_dict['03-cogs'] = 1
    specific_ramen_dict['04-profit'] = 1
    
    report[ramen] = specific_ramen_dict

spicy miso ramen
tori paitan ramen
truffle butter ramen
tonkotsu ramen
vegetarian spicy miso
shio ramen
miso crab ramen
nagomi shoyu
soft-shell miso crab ramen
burnt garlic tonkotsu ramen
vegetarian curry + king trumpet mushroom ramen

In [8]:
sales.loc[sales['Menu_Item']==ramen, 'Quantity'].sum()

8824

In [9]:
menu.loc[menu['item']==ramen]

,item,category,description,price,cost
23,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7